<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <li><a href="/redes/facebook/login">Login con Facebook</a></li>
    <li><a href="/redes/google/login">Login con Google</a></li>
    <li><a href="/redes/twitter/login">Login con Twitter</a></li>
    <li><a href="/redes/github/login">Login con Github</a></li>
  </body>
</html>
