<html>
<head>
	<title>Usuarios</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
		</tr>
		<%registros.forEach(function(item, index){%>
		<tr>
			<td><%=item.nombre%></td>
			<td><%=item.apellido%></td>
		</tr>
		<%})%>
	</table>
</body>
</html>