<!DOCTYPE html>
<html>
<head>
	<title><%=titulo%></title>
	<style type="text/css">
		header{
			height: 100px;
			background-color: red
		}
		footer{
			height: 100px;
			background-color: green;
		}
	</style>
</head>
<body>
	
<header></header>